{{ template "base" . }}
{{ define "content" }}
    {{ template "header" . }}
    <main>

        <img src="{{ .Path.img }}favicon/favicon.png" width="128" alt="favicon"/>

        {{ block "sidebar" . }}id="{{ .AttrBody.id }}"{{ end }}
        <section {{ template "sidebar" . }}></section>

        <style>
            .sea {
                display: grid;
                grid: 1fr 25% 30px / 40% 1fr; /* ряды / колонки */
                grid-gap: 1em;
                height: 200px;
            }
        </style>
        <section id="owner" class="sea">
            {{ range $i, $v := .sea }}
            <div id="{{ $i }}">{{ $v }}</div>{{ end }}
        </section>

    </main>
    {{ template "footer" . }}
{{ end }}